/* eventScroller.css */

.event-item-enter {
  opacity: 0;
  transform: translateY(-25%);
}

.event-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.event-item-exit {
  opacity: 1;
}

.event-item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.event-item-move {
  transition: transform 500ms ease-in-out;
}